<!-- Here's the DIV that we inject the map into -->
<div #mapViewNode>
</div>
<p-dialog header="Save Changes" [(visible)]="saveMapDialog" [style]="{width: '50vw'}">
    <div [formGroup]="saveMapForm">
        <div class="grid" >
            <div class="col-12 md:4">
                <div class="p-fluid">
                    <div class="p-field">
                        <label class="mr-2">Change notes</label>
                        <input type="Text" pInputText [style]="{'width': '100%'}" formControlName="notes">
                    </div>
                </div>
            </div>
        </div>
        <p-footer>
            <button pButton (click)="saveChanges()" [disabled]="saveMapForm.invalid || saving">Save</button>
        </p-footer>
    </div>    
</p-dialog>
<p-dialog header="Get data (Can be used to import into other applications such as ArcGIS)" [(visible)]="showGetDataDialog" [style]="{width: '50vw'}">
    <div class="p-grid">
        <div class="p-col-12 p-md-4">
            <label class="p-mr-2">URL of raw map data (GeoJSON format)</label>
            <div class="p-inputgroup">
                <input type="text" pInputText [(ngModel)]="geoJsonURL" [disabled]="true">   
                <button type="button" pButton pRipple icon="pi pi-copy" styleClass="p-button-warn" (click)="copyGeoJsonURLToClipBoard()"></button>      
            </div>
        </div>
    </div>
    <p-footer>
        <button pButton (click)="showGetDataDialog = false">Close</button>
    </p-footer>
</p-dialog>

<p-dialog header="Share merge request" [(visible)]="showShareFeatureDialog" [style]="{width: '50vw'}">
    <div class="p-grid">
        <div class="p-col-12 p-md-4">
            <label class="p-mr-2">URL to share this merge request</label>
            <div class="p-inputgroup">
                <input type="text" pInputText [(ngModel)]="mergeRequestURL" [disabled]="true">   
                <button type="button" pButton pRipple icon="pi pi-copy" styleClass="p-button-warn" (click)="copyFeatureURLToClipBoard()"></button>      
            </div>
        </div>
    </div>
    <p-footer>
        <button pButton (click)="showShareFeatureDialog = false">Close</button>
    </p-footer>
</p-dialog>


<div id="saveFeature" class="esri-widget esri-widget--button esri-widget esri-interactive" title="Save changes">
    <span class="esri-icon-save"></span>
</div>
<div id="shareFeature" class="esri-widget esri-widget--button esri-widget esri-interactive" title="Share merge request">
    <span class="esri-icon-share"></span>
</div>
<div id="reviseFeature" class="esri-widget esri-widget--button esri-widget esri-interactive" title="Revise feature">
    <span class="esri-icon-resend-invitation"></span>
</div>
<div id="cloneFeature" class="esri-widget esri-widget--button esri-widget esri-interactive" title="Clone feature">
    <span class="esri-icon-minimize"></span>
</div>
<div id="getData" class="esri-widget esri-widget--button esri-widget esri-interactive" title="Get data">
    <span class="esri-icon-share2"></span>
</div>   
<div id="mergeTitle" class="box esri-widget">Merged</div>
<div id="originalTitle" class="box esri-widget">Original</div>