<!-- Here's the DIV that we inject the map into -->
<div #mapViewNode>
    <input pButton id="saveMapBtn" type="button" (click)="showSaveMap()" value = "save" style="position: absolute; z-index: 1000; left: 50px; float: left;" />
    <input pButton id="mergeBtn" type="button" (click)="showMerge()" value = "merge" style="position: absolute; z-index: 1000; left: 120px; float: left;" />
</div>

<p-dialog header="Save Map" [(visible)]="saveMapDialog" [style]="{width: '50vw'}">
    <div class="p-grid">
        <div class="p-col-12 p-md-4">
            <div class="p-fluid">
                <div class="p-field">
                    <label class="p-mr-2">Save notes</label>
                    <input type="Text" pInputText [style]="{'width': '100%'}">
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <button pButton>Save</button>
    </p-footer>
</p-dialog>

<p-dialog header="Request Merge" [(visible)]="mergeDialog" [style]="{width: '50vw'}">
    <div class="p-grid">
        <div class="p-col-12 p-md-4">
            <div class="p-fluid">
                <div class="p-field">
                    <label class="p-mr-2">Reason for request</label>
                    <input type="Text" pInputText [style]="{'width': '100%'}">
                </div>
                <div class="p-field">
                    <label class="p-mr-2">Change notes</label>
                    <input type="Text" pInputText [style]="{'width': '100%'}">
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <button pButton>Save</button>
        <button pButton>Send Request</button>
    </p-footer>
</p-dialog>
