<div class="topbar">
    <div id="topbar-left">
        <a id="omega-menu-button" href="#" (click)="appMain.toggleMenu($event)">
            <span class="pi pi-bars"></span>
        </a>
        <!-- <span class="topbar-title">TacarEZ</span> -->
        <span class="topbar-title">
            <img src="../assets//images//TacarEZLogo.png" style="max-height: 30px;" alt="TacarEZ logo" (click)="gotoHome()" class="cursor-pointer">
        </span>
        <!-- <ng-template ngFor let-item let-last="last" [ngForOf]="items">
            <span class="topbar-title">{{item.label}}</span>
        </ng-template> -->
    </div>

    <a id="options-menu-button" (click)="appMain.toggleTopMenu($event)">
        <span class="pi pi-ellipsis-h"></span>
    </a>
    <div>
        {{currentUser?.name}}
    </div>
    <div id="topbar-icons" class="animated"
         [ngClass]="{'topbar-icons-visible flipInX':appMain.topMenuActive,'flipOutX':appMain.topMenuLeaving}">

        <a>
            <span class="topbar-item-text">Messages</span>
            <span class="topbar-icon pi pi-envelope animated swing"></span>
            <span class="topbar-badge animated rubberBand">5</span>
        </a>
        <a>
            <span class="topbar-item-text">Settings</span>
            <span class="topbar-icon pi pi-cog"></span>
        </a>
        <a (click)="userMenu.toggle($event)" *ngIf="currentUser">
            <span class="topbar-item-text">User</span>
            <span class="topbar-icon pi pi-user"></span>
        </a>
        <a (click)="signInMenu.toggle($event)" *ngIf="currentUser == undefined || currentUser == null">
            <span class="topbar-item-text">User</span>
            <span class="topbar-icon pi pi-user"></span>
        </a>
    </div>
</div>

<p-menu #signInMenu [popup]="true" [model]="signInMenuItems"></p-menu>
<p-menu #userMenu [popup]="true" [model]="userMenuItems"></p-menu>