<div class="topbar">
    <div id="topbar-left">
        <a id="omega-menu-button" href="#" (click)="appMain.toggleMenu($event)">
            <span class="pi pi-bars"></span>
        </a>
        <span class="topbar-title">TacarEZ</span>
        <!-- <ng-template ngFor let-item let-last="last" [ngForOf]="items">
            <span class="topbar-title">{{item.label}}</span>
        </ng-template> -->
    </div>

    <a id="options-menu-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <span class="pi pi-ellipsis-h"></span>
    </a>

    <div id="topbar-icons" class="animated"
         [ngClass]="{'topbar-icons-visible flipInX':appMain.topMenuActive,'flipOutX':appMain.topMenuLeaving}">

        <a href="#">
            <span class="topbar-item-text">Messages</span>
            <span class="topbar-icon pi pi-envelope animated swing"></span>
            <span class="topbar-badge animated rubberBand">5</span>
        </a>
        <a href="#">
            <span class="topbar-item-text">Settings</span>
            <span class="topbar-icon pi pi-cog"></span>
        </a>
        <a href="#">
            <span class="topbar-item-text">User</span>
            <span class="topbar-icon pi pi-user"></span>
        </a>
    </div>
</div>
