<div class="grid">
    <div class="col-12 md:col-6 lg:col-9 mx-auto">
        <div class="grid grid-nogutter surface-section text-800">
            <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
                <section>
                    <span class="text-6xl font-bold mb-1">Tacare</span>
                    <span class="text-6xl text-primary font-bold mb-3"> Made Ez</span>
                    <span class="mt-2 block text-2xl font-bold mb-1">Maps are about communicating common understanding.</span>
                    <span class="block text-2xl font-bold mb-3">Help us understand this world together.</span>                    
                    <button pButton pRipple label="Learn More" type="button" class="mr-3 p-button-raised" (click)="toDevPost()"></button>
                    <button pButton pRipple label="Start mapping" type="button" class="p-button-outlined" routerLink="new"></button>
                </section>
            </div>
            <div class="col-12 md:col-6 overflow-hidden border-round">
                <img src="assets/images/mappin.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(15% 12%, 100% 12%, 100% 100%, 5% 100%);">
            </div>
        </div>
    </div>
</div>
